* {
    box-sizing: border-box;
  }
  html,
  body {
    background: #ecf0f3;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .custom-form {
    min-width: 300px;
    max-width: 30%;
    background: rgba(255, 255, 255, 0.15);
    padding: 5rem 3rem;
    margin-left: 60px;
    border-radius: 1rem;
    background-color: #81818162;
    box-shadow: 13px 13px 20px #8f5e9b8f, -13px -13px 20px #58808c8f;
    color: rgb(156, 129, 129);
    margin-top: 10rem;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(168, 168, 168, 0.8), inset 5px 5px 10px
        rgba(255, 255, 255, 0.163);
    border: 0 none;
    background: #97979762;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #97979762;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  } 