.divC {
    margin-left: 50px; 
    margin-top: 50px;
    background-color: rgb(139, 139, 139);
    padding: 10px; 
    margin-left: 50px; 
    margin-top: 50px; 
    width: 1360px; 
    height: 500px; 
    position: absolute; 
    right: 100; 
    top: 50; 
    z-index: -100; 
    opacity: 0.65;
}

.imgC {
    width: 300px;
    height: 300px;
}

.divComp {
    background-color: rgb(255, 255, 255);
    padding: 10px; 
    margin-left: 150px; 
    margin-top: 90px; 
    width: 280px; 
    height: 15px; 
    position: absolute; 
    right: 100; 
    top: 50; 
    z-index: -100;
}

.apartado1{
    border:3px solid rgba(0, 0, 0, 0.273);
    border-radius:10px;
 }

 .carrito{
    border:5px solid rgba(0, 0, 0, 0.273);
    border-radius:60px;
    color: rgb(255, 143, 143);
    font-family: monospace;
 }
